@charset "utf-8";

body{
    background-image: url(../images/test.png); 
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;

}


.div_munu{
    width: 10%;
    margin: 30px;
    position: fixed;
}
.munu{
    background: #fff;
    width: 100%;
    position: static;
    top: auto;
    bottom: 0;
    box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.075);
}

.munu li {
    padding: 13px 0px 21px 105px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #fff6f6;
    box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.075);
    margin-left: 17%;
    padding: 15px 15px 15px 15px;
}
.munu a { color: rgb(32, 14, 14); text-decoration: none; }
.munu b {
	font: bold Montserrat; display: block;
	
}
