<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>实验检测</title>
    <link href="../../css/test_detection.css" rel="stylesheet" type="text/css">
    <link href="../../css/default.css" rel="stylesheet" type="text/css">
    <script src="../../js/echarts/echarts.js"></script>
    <script src="../../js/echarts/uimaker.js"></script>
</head>

<body >
    <div class="div_munu" >
        <ul class="munu">
			<li><a href="#"><b>开始试验</b></a></li>
			<li><a href="#"><b>历史结果</b></a></li>
			<li><a href="#"><b>汇总分析</b></a></li>
		</ul>
    </div>
</body>
<script type="text/javascript" src="../../js/jquery.js"></script>


</html>