<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人考勤</title>
    <link href="../../../css/default.css" rel="stylesheet" type="text/css">
    <link href="../../../css/style/green.css" rel="stylesheet" type="text/css" id='link'>
    <script src="../../../js/echarts/echarts.js"></script>
    <script src="../../../js/echarts/uimaker.js"></script>
</head>

<body style="padding:0px 8px 70px 8px;">


<div class="divbox">

    <div class="">
        <div class="boxdown">
            <table class="simpletable">

                <thead>
                <th>员工编号</th>
                <th>所属部门</th>
                <th>打卡时间</th>
                <th>打卡方式</th>
                <th>打卡人</th>
                <th>操作</th>
                </thead>

                <tbody>

                <tr>
                    <td>20171101</td>
                    <td>256</td>
                    <td>2017-11-01 16:35:26</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>
                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171102</td>
                    <td>300</td>
                    <td>2017-11-02 10:50:08</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171103</td>
                    <td>500</td>
                    <td>2017-11-03 00:00:14</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171104</td>
                    <td>1000</td>
                    <td>2017-11-04 16:22:00</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171105</td>
                    <td>200</td>
                    <td>2017-11-05 04:00:00</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171106</td>
                    <td>150</td>
                    <td>2017-11-06 18:20:10</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171107</td>
                    <td>450</td>
                    <td>2017-11-07 08:34:00</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171108</td>
                    <td>500</td>
                    <td>2017-11-08 19:00:14</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171108</td>
                    <td>500</td>
                    <td>2017-11-08 19:00:14</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171108</td>
                    <td>500</td>
                    <td>2017-11-08 19:00:14</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171108</td>
                    <td>500</td>
                    <td>2017-11-08 19:00:14</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171108</td>
                    <td>500</td>
                    <td>2017-11-08 19:00:14</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>
                    <td>20171108</td>
                    <td>500</td>
                    <td>2017-11-08 19:00:14</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                <tr>

                    <td>20171108</td>
                    <td>500</td>
                    <td>2017-11-08 19:00:14</td>
                    <td>打卡机</td>
                    <td>admin</td>
                    <td>

                        <a href="#" class="selected" id="add"><i class="toolico iconfont">&#xe643;</i>查看</a>
                        <a href="#"><i class="toolico iconfont">&#xe7eb;</i>导出</a>

                    </td>
                </tr>

                </tbody>

            </table>
        </div>

    </div>
</div>
<div class="pagination">
    <ul class="pagelist">
        <li>
            <a href="#" class="first">首页</a>
        </li>
        <li>
            <a href="#" class="selected pageico">
                <i class="iconfont">&#xe68a;</i>
            </a>
        </li>
        <li>
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">6</a>
        </li>
        <li>
            <a href="#">7</a>
        </li>
        <li>
            <a href="#">8</a>
        </li>
        <li>
            <a href="#">9</a>
        </li>
        <li>
            <a href="#" class="pageico">
                <i class="iconfont">&#xe673;</i>
            </a>
        </li>
        <li>
            <a href="#">尾页</a>
        </li>
    </ul>

    <span class="pageinfo">共 50 条记录，每页 10 条，当前第 1 页，共 5 页</span>
</div>


</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/common.js"></script>
<script type="text/javascript" src="../../../js/skin.js"></script>
</html>
